body {
  background-color: #000000;
  text-align:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header--main {
  font-weight: normal;
  font-size: 50;
  color: #ffffff;
}

.header--sec {
  font-size: 42;
  font-weight:300;
  color: #ffffff;
}

.header--smol {
  color: grey;
  font-size: 21;
  font-weight:300;
}

.link-cta {
  color: aquamarine;
  font-size: 16;
}
